label {
      display: block;
      margin-top: 15px;
      margin-bottom: 5px;
}

.submit {
      display: block;
      margin-top: 15px;
}

.clearfix {
      display: table;
      content: "";
      clear: both;
      margin-top: 50px;
}

.card {
      width: calc(100% / 5) - 40px;
      float: left;
      margin: 0 20px;
      padding: 20px;
}