input {
      margin: 10px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 1px 1px 1px 1px;
      outline: none;
      background-color: white;
}