label {
      display: block;
      margin-top: 15px;
      margin-bottom: 5px;
}

.text_center {
      text-align: center;
}

.submit {
      display: block;
      margin-top: 15px;
}

#list {
      margin-top: 50px;
}

.clearfix {
      display: table;
      content: "";
      clear: both;
      margin: auto;
}

.card {
      width: calc(100% / 5) - 40px;
      float: left;
      margin: 0 20px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px;
}